<div class="container">
    <h2>Lastfm user info</h2>
    <ul class="nav nav-pills pull-left">
       <li><a ui-sref="top-artists({username: ctrl.$stateParams.username})">Top Artists Chart</a></li>
        <li><a ui-sref="scrobbles({username: ctrl.$stateParams.username})">Scrobbles By Year Chart</a></li>
        <li><a ui-sref="top-albums({username: ctrl.$stateParams.username})">Top Albums By Year</a></li>
        <li><a ui-sref="collage({username: ctrl.$stateParams.username})">Collage</a></li>
        <li><a ui-sref="forgotten({username: ctrl.$stateParams.username})">Forgotten Albums</a></li>
        <li></li>
        <li></li>
    </ul>


</div>